<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarena.dao.ParticipationMapper">
	<!-- 删除指定用户参与的活动能够信息 -->
	<delete id="deleteParticipationByUserId" parameterType="string">
		delete from t_participation where user_id=#{userId}
	</delete>
	<delete id="deleteParticipationByActivityId" parameterType="string">
		delete from t_participation where activity_id=#{activityId}
	</delete>
</mapper>